.addedLabels > table > tbody > tr > td input {
    width: 100%;
    box-sizing:border-box;
}

.addedLabels > table > tbody > tr > td{
    vertical-align:middle;
}
.addedLabels .headRemove {
    width:4em;
}
.addedLabels .headCount {
    width:5em;
}
.addedLabels > table > input {
    margin-right: 5px;
}

.closeButton {
    float:right;
    width:2rem;
    height:2rem;
    border-radius:0;
    background:red;
    font-weight:bold;
}