table.labelTable {
    width:100%;
}
.headInput{
    width:1.5em;
}
    .headLabel {
        width: auto;
    }
    .headOptions {
        width: 8em;
    }
    .labelTable button {
        min-width:20px;
        padding:2px 5px 2px 5px;
    }
   

table.labelTable > tbody td {
    border: 1px dotted black;
    border-top: none;
    text-align:left;
    padding-left:2px;
}
table.labelTable > tbody tr:nth-child(2n+1){
    background-color:lightgray;
}
table.labelTable {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}
table.labelTable > thead {
    background-color: cornflowerblue;
    color:white;
    position: sticky;
    top: 0;
}
    table.labelTable > thead th {
    border:1px solid black;
    }
        table.labelTable > tbody > tr > td:first-child {
            text-align:center;
}


th {
    display: table-cell;
    text-align: center;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
    white-space: normal;
}

    .cellOptions > button {
        margin-left: 2px;
        float: left;
        text-align: center;
        vertical-align: central;
        background-color: lightsteelblue;
    }

    .cellOptions >button:hover {
        background-color: steelblue;
    }

    .cellOptions > button:active {
        border: 1px solid white;
    }
    .cellOptions svg {
        width: 1.2em;
        height: 1.2em;
    }

