#LabelsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow: auto;
    white-space: nowrap;
    margin-left: 1px;
}
#LabelsContainer span {
    display: flex;
    align-items: center;
    vertical-align: central;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
}

#LabelsContainer span input {
    margin: 1px;
    margin-right: 2px;
}
